.espaco-abaixo {
  margin-bottom: 10px;
}

.espaco-lado {
  margin-right: 10px;
}

.linha {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.coluna {
  display: flex;
  flex-direction: column;
}